.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50vh;
  left: 8vw;
  transform: translateY(-50%);
  text-align: center;

  .about__text {
    color: rgb(255, 255, 255);
    @include text;
  }

  .about__text--one {
    margin-bottom: 12px;
  }

  .about__text--two {
    margin-bottom: 12px;
  }
}

.about__square {
  position: absolute;
  top: 20vh;
  right: 8vw;
  background: $square-picture;
  width: 25vw;
  height: 50vh;
}

.about__picture {
  position: absolute;
  top: 50vh;
  right: 12vw;
  transform: translateY(-50%);
  width: 25vw;
  height: 50vh;
}