.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 31.25em;
  height: 31.25em;
  position: absolute;
  top: 50vh;
  left: 8vw;
  transform: translateY(-50%);
  text-align: center;

  .about__text {
    color: hsl(0, 0%, 100%);
    @include text;
  }

  .about__text--one {
    margin-bottom: 0.75em;
  }

  .about__text--two {
    margin-bottom: 0.75em;
  }
}

.about__square {
  position: absolute;
  top: 20vh;
  right: 8vw;
  background: $square-picture;
  width: 25em;
  height: 25em;
}

.about__picture {
  position: absolute;
  top: 50vh;
  right: 12vw;
  transform: translateY(-50%);
  width: 25em;
  height: 25em;
}