.firstProject__preview {
  width: 40%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.firstProject__deco {
  width: 40%;
  height: 45%;
  position: absolute;
  top: 34%;
  left: 52%;
  transform: translateX(-50%);
  background: $square-picture;
}


.back {
  position: absolute;
  bottom: 5%;
  left: 5%;
  align-items: center;

  .back__arrow {
    width: 5%;
    margin-right: 3%;
  }
  
  .back__title {
    color: $square-picture;
  }

  .back__link {
    display: flex;
    align-items: center;
  }
}