h1 {
  font-family: 'Srisakdi', cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  background: -webkit-linear-gradient(#6d0043, #f41162);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 50vh;
  transform: translateY(-50%);
}