body {
  background-color: black;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  @include gradient;
  font-family: 'Srisakdi', cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
}

.menu__items {
  color: antiquewhite;
  font-family: 'Thasadith', sans-serif;

  .items--home {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .items--about {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(-90deg);
  }

  .items--projects {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) rotate(90deg);
  }
}