.items {
  font-family: 'Thasadith', sans-serif;

  a {
    color: hsl(0, 0%, 100%);
  }

  .items__home {
    position: absolute;
    top: 0.75em;
    left: 50%;
    transform: translateX(-50%);
  }

  .items__about {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(-90deg);
  }

  .items__projects {
    position: absolute;
    top: 50%;
    right: 0.625em;
    transform: translateY(-50%) rotate(90deg);
  }
}

.bookmark--home {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 3.125em;
  width: 1.875em;
  background: $bookmark-color;
}

.bookmark--about {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 1.875em;
  width: 3.125em;
  background: $bookmark-color;
}