.project__deco {
  display: flex;
  align-items: center;
  width: 40%;
  height: 40%;
  background: $first-color;

  .project__number {
    font-size: 10em;
  }
}

.project__deco--one {
  justify-content: flex-end;
  position: absolute;
  top: 10%;
  right: 10%;

  .project__number {
    margin-right: 10%;
  }
}

.project__deco--two {
  justify-content: flex-start;
  position: absolute;
  bottom: 10%;
  left: 10%;

  .project__number {
    margin-left: 10%;
  }
}

.project__name,
.project__number {
  @include gradient;
  @include project-title;
}

.project__name--one {
  @include project-position;
  top: 30%;
}

.project__name--two {
 @include project-position;
  top: 70%;
  text-align: center;
}

.project__shadow {
  @include project-title;
  @include shadow-gradient;
  opacity: 0.7;
}

.project__shadow--one {
  position: absolute;
  top: 27%;
  left: 51%;
  transform: translateX(-50%);
}

.project__shadow--two {
  position: absolute;
  top: 63%;
  left: 51%;
  transform: translateX(-50%);
  text-align: center;
}