.more {
  @include more-position;
  left: 25vw;
  transform: translateX(-50%) translateY(-50%);
  width: 35vw;
  color: white;
  text-align: center;

  p {
    margin: 10px 0;
  }
}

.pictures {
  @include more-position;
  left: 75vw;
  transform: translateX(-50%) translateY(-50%);

  .preview__picture {
    width: 35vw;
    margin: 2%;
  }

  .preview__picture--border {
    border: $square-picture solid 2px;
  }
}

.project__link {
  color: #f41162;
}