.deco {
  height: 35%;
  width: 35%;
  background-color: $first-color;
}

.deco--top {
  position: absolute;
  top: 0;
  left: 0;
}

.deco--bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}

.square {
  background: $square-color;
}

.square--one {
  position: absolute;
  height: 6.25em;
  width: 6.25em;
  transform: rotate(25deg);
  animation: rotate 4s linear infinite, moveone 10s linear infinite alternate;
  animation-timing-function: linear;
}

.square--two {
  position: absolute;
  height: 4.375em;
  width: 4.375em;
  transform: rotate(45deg);
  animation: rotate 9s linear infinite, movetwo 10s linear infinite alternate;
}

.square--three {
  position: absolute;
  height: 5.3125em;
  width: 5.3125em;
  transform: rotate(-15deg);
  animation: rotate 6s linear infinite, movethree 8s linear infinite alternate;
}