.deco {
  height: 35%;
  width: 35%;
  background-color: $first-color;
}

.deco--top {
  position: absolute;
  top: 0;
  left: 0;
}

.deco--bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}

.square {
  background: $square-color;
}

.square--one {
  position: absolute;
  top: 30%;
  left: 15%;
  height: 6.25em;
  width: 6.25em;
  transform: rotate(25deg);
}

.square--two {
  position: absolute;
  top: 15%;
  left: 75%;
  height: 4.375em;
  width: 4.375em;
  transform: rotate(45deg);
}

.square--three {
  position: absolute;
  top: 75%;
  left: 80%;
  height: 5.3125em;
  width: 5.3125em;
  transform: rotate(-15deg);
}