.title {
  @include gradient;
  font-family: $title-family;
}

.title--home {
  position: relative;
  top: 50vh;
  transform: translateY(-50%);
  text-align: center;
  font-size: 3.75em;
}

.about__title {
  font-size: 3em;
  margin-bottom: 1em;
}

.firstProject__title {
  position: absolute;
  top: 17%;
  left: 15%;
  @include gradient;
  font-family: $title-family;
  font-size: 3em;
  letter-spacing: $title-space;
}