.title {
  @include gradient;
  font-family: $title-family;
}

.title--home {
  position: relative;
  top: 50vh;
  transform: translateY(-50%);
  text-align: center;
  font-size: 60px;
}

.about__title {
  font-size: $title-size;
  margin-bottom: 16px;
}

.project__title {
  position: absolute;
  top: 17%;
  left: 15%;
  @include gradient;
  font-family: $title-family;
  font-size: $title-size;
  letter-spacing: $title-space;
}

.more__title {
  font-family: $title-family;
  font-size: $title-size;
  @include gradient;
}

.more__subtitle {
  font-family: $text-family;
  font-size: 24px;
  margin: 10px 0;
}