@font-face {
  font-family: 'Srisakdi';
  src: url('../fonts/srisakdi-v2-latin-700.woff2') format('woff2'),
       url('../fonts/srisakdi-v2-latin-700.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Srisakdi';
  src: url('../fonts/srisakdi-v2-latin-regular.woff2') format('woff2'),
       url('../fonts/srisakdi-v2-latin-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Thasadith';
  src: url('../fonts/thasadith-v2-latin-regular.woff2') format('woff2'),
       url('../fonts/thasadith-v2-latin-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}