@font-face {
  font-family: 'Thasadith';
  src: url('../fonts/thasadith-v2-latin-regular.woff2') format('woff2'),
       url('../fonts/thasadith-v2-latin-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rye';
  src: url('../fonts/rye-v6-latin-regular.woff2') format('woff2'),
       url('../fonts/rye-v6-latin-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}