@mixin gradient {
  background: -webkit-radial-gradient(#f41162, #6d0043);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin second-gradient {
  background: -webkit-radial-gradient(#30000e, #110000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin text {
  font-size: 1.1em;
  font-family: "Thasadith", sans-serif;
  line-height: 1.3em;
}

@mixin project-title {
  font-family: 'Rye', sans-serif;
  font-size: 3.5em;
  letter-spacing: 0.125em;
}

@mixin project-position {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);  
}