@mixin gradient {
  background: -webkit-radial-gradient(#f41162, #6d0043);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin shadow-gradient {
  background: -webkit-radial-gradient(#30000e, #110000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin text {
  font-size: 18px;
  font-family: $text-family;
  line-height: 20px;
}

@mixin project-title {
  font-family: $title-family;
  font-size: 56px;
  letter-spacing: $title-space;
}

@mixin project-position {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);  
}

@mixin more-position {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50vh;
}